In [ ]:
#  1) What are data structures, and why are they important?


###>>A data structure is a way of organizing and storing data in a computer so that
#it can be accessed and modified efficiently. It is a collection of data
#elements that are organized in a specific way to suit particular operations,
# such as searching, inserting, deleting, or updating data.

##importance of data structure
#Data Organization: Data structures help in organizing and managing large amounts of data in a way that makes it easy to process. For instance:

#1.Graphs are ideal for representing networks like social media connections.
#2.Trees are useful for representing hierarchical data such as file systems.

In [ ]:
#  2)Explain the difference between mutable and immutable data types with examples
#>>mutable data types
# These are objects whose values can be modified after creation.
#Examples: Lists, dictionaries, sets

#immutable data types
#These are objects whose values cannot be changed after creation. If a change is needed, a new object is created.
#Examples: Strings, tuples, integers, floats

In [ ]:
#   3)What are the main differences between lists and tuples in Python
# >>list :-mutable,created using sqare brackets[]
# >>toples:-imuttable,created using paranthesis()

In [ ]:
#  4)Describe how dictionaries store data

#  >> my_dict = {"name": "ritesh", "age": 23,}
#  here..name is name is key and ritesh is value

In [ ]:
#  5)Why might you use a set instead of a list in Python

#  >>Sets automatically ensure all elements are unique, whereas lists allow duplicates.

In [ ]:
#  6)What is a string in Python, and how is it different from a list

#  >>A string in Python is a sequence of characters enclosed in single quotes
# ('), double quotes ("), or triple quotes (''' """).

# list can hold any type of data

In [1]:
#  7) How do tuples ensure data integrity in Python

#  >>Tuples in Python help ensure data integrity because they are immutable,
#     meaning once a tuple is created, its elements cannot be changed, added,
#       or removed.

In [3]:
# 8) What is a hash table, and how does it relate to dictionaries in Python ?

#  >>A hash table is a data structure that implements an associative array,
#     allowing you to store and retrieve data efficiently using a key.

In [4]:
#  9) Can lists contain different data types in Python?

#  >>Yes, lists in Python can contain elements of different data types.
#   Python lists are highly flexible and allow you to store a mix of integers,
#    floats, strings, objects, and even other lists or data structures.

In [5]:
#  10)Explain why strings are immutable in Python ?

#  >>Strings are widely used, so immutability helps optimize memory usage.

In [6]:
#  11) What advantages do dictionaries offer over lists for certain tasks?

#  >>Dictionaries allow you to associate unique keys with specific values,
#   making them ideal for tasks where data needs to be organized by identifiers.

In [9]:
#  12) Describe a scenario where using a tuple would be preferable over a list?

#  >>Using a tuple instead of a list is preferable in scenarios where you need
#   a collection of data that should remain constant and immutable throughout
#   the program.
#  example:-coordinate = (40.7128, -74.0060)

In [10]:
#  13)  How do sets handle duplicate values in Python?

#  >>A set stores only unique elements. If you attempt to add a duplicate
#    value, it will not be added, and no error will occur.
#    example :-
my_set = {1, 2, 3, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [11]:
#  14) How does the “in” keyword work differently for lists and dictionaries?

#  >>in for Lists-
#    When using in with a list, it checks whether a value exists in the list
#    by iterating through each element.
#  >>in for Dictionaries
#   When using in with a dictionary, it checks only the keys,
#   not the values, by default.

In [14]:
#  15) Can you modify the elements of a tuple? Explain why or why not?

#  >>No, you cannot modify the elements of a tuple in Python.
#    This is because tuples are immutable, meaning once a tuple is created,
#    its size and elements cannot be changed.

In [1]:
#  16)  What is a nested dictionary, and give an example of its use case?

#  >>Structure of a Nested Dictionary
#   A nested dictionary is simply a dictionary that contains other
#   dictionaries as values.

In [2]:
#  17) Describe the time complexity of accessing elements in a dictionary?

#  >>The time complexity of accessing elements in a dictionary in Python depends
#   on whether the key exists in the dictionary and the underlying operations
#   performed.

#  Accessing an element by key (e.g., my_dict[key]) has an average time
#   complexity of O(1) (constant time).

In [3]:
#  18) In what situations are lists preferred over dictionaries?

#  >>Lists and dictionaries are both versatile data structures in Python,
#   but they serve different purposes. Lists are preferred over dictionaries
#   in situations where order, indexing, or sequential data is the priority.

In [4]:
#  19)Why are dictionaries considered unordered, and how does that affect data retrieval?

#  >>Dictionaries use a hash table as their underlying data structure.
#   Keys are hashed into an integer value, which determines where the
#   key-value pair is stored in memory.

In [6]:
#  20)Explain the difference between a list and a dictionary in terms of data retrieval.

#List:

#  Data is retrieved using index-based access.
#  Each element in a list is associated with an integer index that represents its position
#  To access an element, you provide its position in the list.



#  Dictionary:

#  Data is retrieved using key-based access.
#  Each value in a dictionary is associated with a unique key.
#  To access an element, you provide its key

In [7]:
                  ### PRACTICAL QUESTIONS  ###

In [1]:
#  1)  Write a code to create a string with your name and print it.

name = "Ritesh patil"
print(name)

Ritesh patil

In [2]:
#  2) Write a code to find the length of the string "Hello World"

length = len("Hello World")
print(length)

11

In [3]:
#  3) Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [4]:
#  4) Write a code to convert the string "hello" to uppercase

r = "hello"
r.upper()

'HELLO'

In [5]:
#  5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

r = "I like apple"
r.replace("apple", "orange")

'I like orange'

In [8]:
#  6) Write a code to create a list with numbers 1 to 5 and print it

r = [1,2,3,4,5]
r

[1, 2, 3, 4, 5]

In [9]:
#  7) Write a code to append the number 10 to the list [1, 2, 3, 4]

r = [1,2,3,4]
r.append(10)
r

[1, 2, 3, 4, 10]

In [10]:
#  8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

r = [1, 2, 3, 4, 5]
r.remove(3)
r

[1, 2, 4, 5]

In [13]:
#  9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

r = ['a', 'b', 'c', 'd']
r[1]

'b'

In [14]:
#  10) Write a code to reverse the list [10, 20, 30, 40, 50]

r = [10, 20, 30, 40, 50]
r.reverse()
r

[50, 40, 30, 20, 10]

In [1]:
#  11)  Write a code to create a tuple with the elements 10, 20, 30 and print it

r = (100,200,300)
r

(100, 200, 300)

In [2]:
#  12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

r = ('red', 'green', 'blue', 'yellow')
r[-2]

'blue'

In [4]:
#  13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).

r = (10, 20, 5, 15)
min(r)

5

In [18]:
#  14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

r = ('dog', 'cat', 'rabbit')
r.index('cat')

1

In [5]:
#  15) . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.('apple', 'kiwi', 'banana')

r = ('apple', 'kiwi', 'banana')
'kiwi' in r

True

In [6]:
#  16)  Write a code to create a set with the elements  'a', 'b', 'c'  and print it

r = { 'a', 'b', 'c' }
r

{'a', 'b', 'c'}

In [8]:
#  17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

r = {1,2,3,4,5}
r.clear()
r

set()

In [10]:
#  18) Write a code to remove the element 4 from the set {1, 2, 3, 4}

r = {1, 2, 3, 4}
r.remove(4)
r

{1, 2, 3}

In [12]:
#  19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


r = {1, 2, 3}
s = {3, 4, 5}
r.union(s)

{1, 2, 3, 4, 5}

In [13]:
#  20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

r = {1, 2, 3}
s = {2, 3, 4}
r.intersection(s)

{2, 3}

In [14]:
#  21)   Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

r = {"name","age","city"}
r

{'age', 'city', 'name'}

In [15]:
#  22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

r = {'name': 'John', 'age': 25 ,"country":"USA"}
r

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
#  23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

s = {'name': 'Alice', 'age': 30}
s["name"]

'Alice'

In [24]:
#  24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

s = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del s ['age']
s

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

s = {'name': 'Alice', 'city': 'Paris'}

if 'city' in s:
    print(s)

{'name': 'Alice', 'city': 'Paris'}

In [27]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all

list = [1,2,3]
tople = (1,2,3)
dict = {1,2,3}

print(list,tople,dict)

[1, 2, 3] (1, 2, 3) {1, 2, 3}

In [28]:
# 27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#    result.(replaced)

In [32]:
# 28)  Write a code to create a list with strings and print the element at the third index.


my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

element = my_list[3]

print("Element at index 3:", element)

Element at index 3: date

In [38]:
# 29) Write a code to combine two dictionaries into one and print the result.

dict_1 = {1,2,3}
dict_2 = {4,5,6}
print(dict_1,dict_2)

{1, 2, 3} {4, 5, 6}

In [ ]:
# 30) Write a code to convert a list of strings into a set.